@model List<LoseItSharp.Models.Match>

@{
    ViewBag.Title = "Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matches</h2>
<div class="row">
    <div id="resultMessage" class="alert-warning" >@ViewBag.Message</div>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <td>Match Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(@item.MatchName,"Details", "Match", new { @Id = @item.Id }, new { @class = "" })</td>
                <td>@item.MatchStart.ToShortDateString()</td>
                <td>@item.MatchEnd.ToShortDateString()</td>
                <td><button class="btn btn-outline-primary btnJoin" data-matchId=@item.Id>Join</button></td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function() {
            $('.btnJoin').click(function () {
                var button = $(this);
                $.ajax({
                    url: "/match/join/" + button.attr("data-matchId"),
                    type: 'POST',
                    cache: 'false',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#resultMessage').html(data);
                    }
                });
            });


        });

    </script>
    }